{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.48"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        metosin/malli {:mvn/version "0.16.4"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        com.rpl/specter {:mvn/version "1.1.4"}
        ;; For protobuf classes at generation time - using compatible version with protovalidate
        com.google.protobuf/protobuf-java {:mvn/version "4.31.1"}
        ;; For buf.validate validation - using latest available version
        build.buf/protovalidate {:mvn/version "1.0.0-rc.4"}
        ;; For logging
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        com.taoensso/timbre {:mvn/version "6.5.0"}
        ;; For formatting generated code
        dev.weavejester/cljfmt {:mvn/version "0.12.0"}
        zprint/zprint {:mvn/version "1.2.9"}}
 
 :aliases
 {:dev {:extra-paths ["test" "resources" "/home/jare/git/potatoclient/shared"]
        :extra-deps {io.github.cognitect-labs/test-runner 
                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  
  :test {:extra-paths ["test" "/home/jare/git/potatoclient/shared" "target/classes" "../../shared/specs/custom"]
         :extra-deps {io.github.cognitect-labs/test-runner 
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      lambdaisland/deep-diff2 {:mvn/version "2.12.219"}
                      org.clojure/tools.reader {:mvn/version "1.5.0"}
                      com.fulcrologic/guardrails {:mvn/version "1.2.4"}}
         :exec-fn cognitect.test-runner.api/test}
  
  :gen {:exec-fn generator.main/generate
        :exec-args {:input-dir "../../tools/proto-explorer/output/json-descriptors"
                    :output-dir "/home/jare/git/potatoclient/shared"
                    :namespace-prefix "potatoclient.proto"
                    :guardrails? true}}
  
  :gen-single {:exec-fn generator.main/generate
               :exec-args {:input-dir "../../tools/proto-explorer/output/json-descriptors"
                           :output-dir "generated-single"
                           :namespace-prefix "potatoclient.proto"
                           :namespace-mode :single}}
  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}
  
  :compile {:exec-fn build/compile-all}}}