{:defn-macro nil
 :expound {:show-valid-values? true
           :print-specs? true}
 :guardrails/mcps nil
 :guardrails/stack-trace :full
 :guardrails/use-stderr? false
 :guardrails/compact? false
 :guardrails/trace? true
 :throw? true
 :tap>? false}
