{:paths ["src" "resources"]
 
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        ;; Transit for IPC communication
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        com.cognitect/transit-java {:mvn/version "1.0.371"}
        ;; Logging
        com.taoensso/telemere {:mvn/version "1.0.0"}
        ;; Function specs and validation
        com.fulcrologic/guardrails {:mvn/version "1.2.9"}
        metosin/malli {:mvn/version "0.19.1"}
        ;; For Java interop - relative path to main project classes
        potatoclient/java-classes {:local/root "../.."
                                   :deps/manifest :deps
                                   :deps/root "target/java-classes"}}

 :aliases {:dev {:extra-paths ["test" "../../target/java-classes" "../../target/kotlin-classes"]
                 :extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                              cider/cider-nrepl {:mvn/version "0.45.0"}}
                 :jvm-opts ["-Dguardrails.enabled=true"
                            "-Dclojure.main.report=stderr"]}
           
           :test {:extra-paths ["test" "../../target/java-classes" "../../target/kotlin-classes"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                     :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}
                               nubank/matcher-combinators {:mvn/version "3.8.8"}}
                  :jvm-opts ["-Dguardrails.enabled=true"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           
           :run {:extra-paths ["../../target/java-classes" "../../target/kotlin-classes"]
                 :jvm-opts ["-Dguardrails.enabled=true"
                            "--enable-native-access=ALL-UNNAMED"]
                 :main-opts ["-m" "clj-stream-spawner.main"]}}}