{:type :descriptor-set,
 :files
 ({:type :file,
   :name "jon_shared_cmd_compass.proto",
   :package "cmd.Compass",
   :java-package "cmd.Compass",
   :java-outer-classname "JonSharedCmdCompass",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_gps.proto",
   :package "cmd.Gps",
   :java-package "cmd.Gps",
   :java-outer-classname "JonSharedCmdGps",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_types.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataTypes",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_lrf.proto",
   :package "cmd.Lrf",
   :java-package "cmd.Lrf",
   :java-outer-classname "JonSharedCmdLrf",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_day_camera.proto",
   :package "cmd.DayCamera",
   :java-package "cmd.DayCamera",
   :java-outer-classname "JonSharedCmdDayCamera",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_heat_camera.proto",
   :package "cmd.HeatCamera",
   :java-package "cmd.HeatCamera",
   :java-outer-classname "JonSharedCmdHeatCamera",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_rotary.proto",
   :package "cmd.RotaryPlatform",
   :java-package "cmd.RotaryPlatform",
   :java-outer-classname "JonSharedCmdRotary",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_osd.proto",
   :package "cmd.OSD",
   :java-package "cmd.OSD",
   :java-outer-classname "JonSharedCmdOsd",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_lrf_align.proto",
   :package "cmd.Lrf_calib",
   :java-package "cmd.Lrf_calib",
   :java-outer-classname "JonSharedCmdLrfAlign",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_system.proto",
   :package "cmd.System",
   :java-package "cmd.System",
   :java-outer-classname "JonSharedCmdSystem",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_cv.proto",
   :package "cmd.CV",
   :java-package "cmd.CV",
   :java-outer-classname "JonSharedCmdCv",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_day_cam_glass_heater.proto",
   :package "cmd.DayCamGlassHeater",
   :java-package "cmd.DayCamGlassHeater",
   :java-outer-classname "JonSharedCmdDayCamGlassHeater",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd_lira.proto",
   :package "cmd.Lira",
   :java-package "cmd.Lira",
   :java-outer-classname "JonSharedCmdLira",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_cmd.proto",
   :package "cmd",
   :java-package "cmd",
   :java-outer-classname "JonSharedCmd",
   :dependencies
   ["jon_shared_cmd_compass.proto"
    "jon_shared_cmd_gps.proto"
    "jon_shared_cmd_lrf.proto"
    "jon_shared_cmd_day_camera.proto"
    "jon_shared_cmd_heat_camera.proto"
    "jon_shared_cmd_rotary.proto"
    "jon_shared_cmd_osd.proto"
    "jon_shared_cmd_lrf_align.proto"
    "jon_shared_cmd_system.proto"
    "jon_shared_cmd_cv.proto"
    "jon_shared_cmd_day_cam_glass_heater.proto"
    "jon_shared_cmd_lira.proto"
    "jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_types.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataTypes",
   :dependencies [],
   :messages [],
   :enums []}),
 :file nil}
