{:type :descriptor-set,
 :files
 ({:type :file,
   :name "jon_shared_data_types.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataTypes",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_types.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataTypes",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_time.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataTime",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_system.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataSystem",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_lrf.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataLrf",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_gps.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataGps",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_compass.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataCompass",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_compass_calibration.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataCompassCalibration",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_rotary.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataRotary",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_camera_day.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataCameraDay",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_camera_heat.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataCameraHeat",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_rec_osd.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataRecOsd",
   :dependencies ["jon_shared_data_types.proto"],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_day_cam_glass_heater.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataDayCamGlassHeater",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data_actual_space_time.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedDataActualSpaceTime",
   :dependencies [],
   :messages [],
   :enums []}
  {:type :file,
   :name "jon_shared_data.proto",
   :package "ser",
   :java-package "ser",
   :java-outer-classname "JonSharedData",
   :dependencies
   ["jon_shared_data_types.proto"
    "jon_shared_data_time.proto"
    "jon_shared_data_system.proto"
    "jon_shared_data_lrf.proto"
    "jon_shared_data_gps.proto"
    "jon_shared_data_compass.proto"
    "jon_shared_data_compass_calibration.proto"
    "jon_shared_data_rotary.proto"
    "jon_shared_data_camera_day.proto"
    "jon_shared_data_camera_heat.proto"
    "jon_shared_data_rec_osd.proto"
    "jon_shared_data_day_cam_glass_heater.proto"
    "jon_shared_data_actual_space_time.proto"],
   :messages [],
   :enums []}),
 :file nil}
