{:lint-as {com.fulcrologic.guardrails.malli.core/>defn  clojure.core/defn
           com.fulcrologic.guardrails.malli.core/>defn- clojure.core/defn
           com.fulcrologic.guardrails.malli.core/>def   clojure.core/def}

 :linters {:unresolved-symbol {:exclude [(com.fulcrologic.guardrails.malli.core/? [?])
                                         (com.fulcrologic.guardrails.malli.core/=> [=>])]}
           :missing-docstring {:level :off}  ; Generated code doesn't need docstrings on everything
           :unused-private-var {:level :off} ; Some generated private functions might not be used
           }

 :config-paths ["com.fulcrologic/guardrails"]}