{:paths ["src" "target/classes"]
 
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        
        ;; Malli for data and function schema validation
        metosin/malli {:mvn/version "0.19.1"}
        
        ;; Function specs and runtime validation
        com.fulcrologic/guardrails {:mvn/version "1.2.9"}
        
        ;; Pronto - Clojure wrapper for Protocol Buffers
        com.appsflyer/pronto {:git/url "https://github.com/JAremko/pronto.git"
                              :git/sha "5444ae5ec3b567a5565e6c1e90ba0850960331b6"}
        
        ;; Protocol Buffer dependencies
        com.google.protobuf/protobuf-java {:mvn/version "4.31.1"}
        com.google.protobuf/protobuf-java-util {:mvn/version "4.31.1"}
        
        ;; Buf validate for proto validation constraints
        build.buf/protovalidate {:mvn/version "0.3.2"}
        
        ;; For converting Java objects to Clojure data
        org.clojure/java.data {:mvn/version "1.1.103"}
        
        ;; For generative testing support in specs
        org.clojure/test.check {:mvn/version "1.1.1"}
        
        ;; For better diff output in tests
        lambdaisland/deep-diff2 {:mvn/version "2.12.219"}
        
        ;; For expressive test assertions with nested data structures
        nubank/matcher-combinators {:mvn/version "3.9.1"}}
 
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"
                              "-d" "test"]}
           
           :test-oneof {:extra-paths ["test"]
                        :extra-deps {io.github.cognitect-labs/test-runner 
                                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                        :main-opts ["-m" "test-suites.oneof-suite"]}
           
           :test-malli {:extra-paths ["test"]
                        :extra-deps {io.github.cognitect-labs/test-runner 
                                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                        :main-opts ["-m" "test-suites.malli-suite"]}
           
           :test-serialization {:extra-paths ["test"]
                                :extra-deps {io.github.cognitect-labs/test-runner 
                                             {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                                :main-opts ["-m" "test-suites.serialization-suite"]}
           
           :test-cmd {:extra-paths ["test"]
                      :extra-deps {io.github.cognitect-labs/test-runner 
                                   {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                      :main-opts ["-m" "test-suites.cmd-suite"]}
           
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                   :ns-default build}
           
           :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                               cider/cider-nrepl {:mvn/version "0.45.0"}}
                  :main-opts ["-m" "nrepl.cmdline"
                              "--middleware" "[cider.nrepl/cider-middleware]"]}}}