{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        metosin/malli {:mvn/version "0.13.0"}
        org.clojure/core.match {:mvn/version "1.0.1"}
        clj-fuzzy/clj-fuzzy {:mvn/version "0.4.1"}}
 
 :tasks
 {:requires ([proto-explorer.cli-bb :as cli])
  
  find {:doc "Find messages by name (fuzzy matching)"
        :task (cli/find-messages *command-line-args*)}
  
  list {:doc "List all messages, optionally filtered by package"
        :task (cli/list-messages *command-line-args*)}
  
  
  java-class {:doc "Get Java class info for a protobuf message (SLOW - starts JVM!)"
              :task (cli/java-class-info *command-line-args*)}
  
  java-fields {:doc "Get proto field to Java method mapping (SLOW - starts JVM!)"
               :task (cli/java-field-mapping *command-line-args*)}
  
  java-builder {:doc "Get Java builder info for a protobuf message (SLOW - starts JVM!)"
                :task (cli/java-builder-info *command-line-args*)}
  
  batch {:doc "Process batch queries from stdin"
         :task (cli/batch-process *command-line-args*)}}}