{:system
 {:cur_video_rec_dir_month 8,
  :vampire_mode false,
  :cur_video_rec_dir_year 2025,
  :disk_space 95,
  :gpu_load 42.0,
  :cpu_temperature 42.0,
  :important_rec_enabled false,
  :low_disk_space true,
  :gpu_temperature 42.0,
  :power_consumption 42.0,
  :cur_video_rec_dir_second 32,
  :tracking false,
  :recognition_mode false,
  :cur_video_rec_dir_hour 14,
  :geodesic_mode false,
  :stabilization_mode false,
  :cv_dumping false,
  :loc :JON_GUI_DATA_SYSTEM_LOCALIZATION_EN,
  :cur_video_rec_dir_minute 51,
  :cur_video_rec_dir_day 8,
  :cpu_load 42.0,
  :rec_enabled true,
  :no_disk_space false},
 :camera_heat
 {:agc_mode :JON_GUI_DATA_VIDEO_CHANNEL_HEAT_AGC_MODE_2,
  :zoom_table_pos_max 4,
  :fx_mode :JON_GUI_DATA_FX_MODE_HEAT_A,
  :clahe_level 0.5,
  :filter :JON_GUI_DATA_VIDEO_CHANNEL_HEAT_FILTER_HOT_WHITE,
  :dde_enabled false,
  :zoom_pos 0.0,
  :digital_zoom_level 1.0,
  :zoom_table_pos 3,
  :dde_level 0,
  :auto_focus false},
 :camera_day
 {:iris_pos 0.03,
  :zoom_table_pos_max 4,
  :fx_mode :JON_GUI_DATA_FX_MODE_DAY_A,
  :clahe_level 0.16,
  :focus_pos 1.0,
  :auto_iris false,
  :zoom_pos 0.59938735,
  :digital_zoom_level 1.0,
  :infrared_filter true,
  :zoom_table_pos 3,
  :auto_focus false},
 :gps
 {:longitude 15.815209999999999,
  :latitude 50.023632,
  :altitude 0.289371,
  :manual_longitude 15.815316,
  :manual_latitude 50.023604,
  :manual_altitude 0.0,
  :fix_type :JON_GUI_DATA_GPS_FIX_TYPE_3D,
  :use_manual false},
 :time
 {:timestamp 1754664759,
  :manual_timestamp 1754664759,
  :zone_id 0,
  :use_manual_time false},
 :compass_calibration
 {:stage 0,
  :final_stage 12,
  :target_azimuth 56.25,
  :target_elevation 6.75,
  :target_bank -5.625,
  :status :JON_GUI_DATA_COMPASS_CALIBRATE_STATUS_NOT_CALIBRATING},
 :lrf
 {:is_scanning false,
  :is_measuring false,
  :measure_id 52,
  :target
  {:distance_2d 0.0,
   :observer_longitude 7.0,
   :observer_latitude 8.0,
   :uuid_part1 -494581931,
   :uuid_part3 -1771114019,
   :target_longitude 15.815211999999999,
   :session_id 0,
   :type 0,
   :target_color nil,
   :observer_fix_type :JON_GUI_DATA_GPS_FIX_TYPE_2D,
   :target_id 52,
   :observer_azimuth 356.40000000000003,
   :target_altitude 0.0,
   :observer_altitude 0.0,
   :observer_bank 0.0,
   :target_latitude 50.023638999999996,
   :distance_3b 0.0,
   :observer_elevation -0.675,
   :uuid_part4 879344611,
   :timestamp 1754576916,
   :uuid_part2 -224575107},
  :pointer_mode :JON_GUI_DATA_LRF_LASER_POINTER_MODE_OFF,
  :fogModeEnabled false,
  :is_refining false},
 :meteo_internal {:temperature 0.0, :humidity 0.0, :pressure 0.0},
 :rec_osd
 {:screen :JON_GUI_DATA_REC_OSD_SCREEN_MAIN,
  :heat_osd_enabled true,
  :day_osd_enabled true,
  :heat_crosshair_offset_horizontal 0,
  :heat_crosshair_offset_vertical 0,
  :day_crosshair_offset_horizontal 0,
  :day_crosshair_offset_vertical 0},
 :rotary
 {:platform_bank 0.0,
  :elevation 0.0,
  :is_scanning false,
  :is_moving false,
  :elevation_speed 0.0,
  :sun_azimuth 0.0,
  :mode :JON_GUI_DATA_ROTARY_MODE_POSITION,
  :sun_elevation 0.0,
  :scan_target 1,
  :platform_azimuth 256.62,
  :azimuth 333.50626,
  :is_scanning_paused false,
  :use_rotary_as_compass false,
  :azimuth_speed 0.0,
  :platform_elevation 7.04,
  :scan_target_max 1,
  :current_scan_node
  {:index 1,
   :DayZoomTableValue 1,
   :HeatZoomTableValue 1,
   :azimuth 0.001,
   :elevation 0.001,
   :linger 0.001,
   :speed 0.001}},
 :day_cam_glass_heater {:temperature 0.0, :status false},
 :actual_space_time
 {:azimuth 256.62,
  :elevation 7.04,
  :bank 0.0,
  :latitude 50.023632,
  :longitude 15.81521,
  :altitude 0.289371,
  :timestamp 1754664759},
 :compass
 {:azimuth 333.50625,
  :elevation 3.54375,
  :bank 0.84375,
  :offsetAzimuth 0.0,
  :offsetElevation 0.0,
  :magneticDeclination 0.0,
  :calibrating false},
 :protocol_version 1}
